<!DOCTYPE html>
<html>
<head>
    <title>Ordering strategy</title>
</head>
<body>
    <table>
        <tr>
            <Td width="30%">
    <h2>Enter the inputs</h2>
    <form method="POST">
        <label for="sample size">sample size................</label>
        <input type="number" name="n" id="n" size="5" required>
        <br><br>
        <label for="enter mean">mean .........................</label>
        <input type="number" name="mean" id="mean" size="5"required>
        <br><br>
        <label for="% deviation">% deviation................</label>
        <input type="number" name="deviation_percent" id="deviation_percent" size="5" required>
        <br><br>
        <label for="size of replenishment ">size of replenishment</label>
        <input type="number" name="replenishment" id="replenishment" size="5"required>
        <br><br>
        <label for="Lead time 1">Lead time 1............... </label>
        <input type="number" name="l1" id="l1" size="5"required>
        <br><br>
        <label for="Lead time 2">Lead time 2............... </label>
        <input type="number" name="l2" id="l2"size="5" required>
        <br><br>
        <label for="% service rate 1 ">% service rate 1........</label>
        <input type="number" name="a1"step="any" id="a1" size="5"required>
        <br><br>
        <label for="% service rate 2">% service rate 2........</label>
        <input type="number" name="a2"step="any" id="a2" size="5"required>
        <br><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="submit" value="Generate">
    </form>
</Td>
<td>

    {% if table %}
        <h2>Results:</h2>
        {{ table|safe }}
    {% endif %}


    {% if plot_url %}
    <h2>Plot:</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Plot">
{% endif %}
</td>
    </tr>
</table>
<table>

    <tr>
        <td>
            {% if case1 %}
            <h2>case 1 </h2>
            {{ case1|safe }}
            {% endif %}
        </td>
        <td>
            {% if case2 %}
            <h2>case 2 </h2>
            {{ case2|safe }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% if case3 %}
            <h2>case 3 </h2>
            {{ case3|safe }}
            {% endif %}
        </td>
        <td>
            {% if case4 %}
            <h2>case 4 </h2>
            {{ case4|safe }}
            {% endif %}
        </td>
    </tr>
</table>
</body>
</html>
